.slide-set-m {
  .carousel-slide {
    position: relative;
    width: 100%;
    .content-box-cell {
      position: absolute;
      top: 50%;
      z-index: 10;
    }
  }
  .banner {
    height: 778px;
  }
  .banner-text {
    color: $white;
    font-weight: 600;
    text-transform: uppercase;
  }
}
.bg-fixed {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.shadow {
  position: relative;
  z-index: 1;
  &::after {
    background: #002147 none repeat scroll 0 0;
    content: "";
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}
.bg-cover {
  background-position: center;
  background-size: cover;
}
